/* .dataTables_filter{
    display: none;
} */
.badge-warning{
    background-color: orange !important;
}
.badge-danger{
    background-color: red !important;
}

.badge-success{
    background-color: green !important;
}
div.dataTables_wrapper div.dataTables_processing {
    top: 5%;
    color: #DB0A5B;
    font-weight: 600;
}
@keyframes button-blink {
    0%   { background-color: #ff0000; }
    49% { background-color: #ff0000; }
    50% { background-color: #DB0A5B; }
    99% { background-color: #DB0A5B; }
    100% { background-color: #ff0000; }
}
.highlight{
    background: rgb(255,231,44);
background: linear-gradient(90deg, rgba(255,231,44,0.4009978991596639) 0%, rgba(255,231,44,0.7) 15%, rgba(255,231,44,1) 50%, rgba(255,231,44,0.7) 80%, rgba(255,231,44,0.4) 100%);    
}
.button-blink{
    -webkit-animation: button-blink 0.5s infinite;
    -moz-animation:    button-blink 0.5s infinite;
    animation:         button-blink 0.5s infinite;
}
.text-vertical{
    vertical-align: middle !important;
}
.font-small-1 {
    font-size: .7rem!important
}

.font-small-2 {
    font-size: .8rem!important
}

.font-small-3 {
    font-size: .9rem!important
}

.font-medium-1 {
    font-size: 1.1rem!important
}

.font-medium-2 {
    font-size: 1.2rem!important
}

.font-medium-3 {
    font-size: 1.3rem!important
}

.font-medium-4 {
    font-size: 1.4rem!important
}

.font-medium-5 {
    font-size: 1.5rem!important
}

.font-large-1 {
    font-size: 2rem!important
}

.font-large-2 {
    font-size: 3rem!important
}

.font-large-3 {
    font-size: 4rem!important
}

.font-large-4 {
    font-size: 5rem!important
}

.font-large-5 {
    font-size: 6rem!important
}

.text-bold-300 {
    font-weight: 300
}

.text-bold-400 {
    font-weight: 400
}

.text-bold-500 {
    font-weight: 500
}

.text-bold-600 {
    font-weight: 600
}

.text-bold-700 {
    font-weight: 700
}

.text-italic {
    font-style: italic
}

.text-highlight {
    padding: 4px 6px
}
.tooltipster-box{
    background: #565656;
    border: 1px solid #565656 !important;
    border-radius: 4px;
}
.urutan{
    max-width: 100px;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 8px;
    margin-left: 40px;
    margin-right: 40px;
}
.table {
    border:1px solid #DFDFDF;
}
#rab-list{margin-left: -45px;}
#rab-list li {
    text-align: center;
    display: inline;
    padding-left: 5px;
}
#rab-list li a {
    font-weight: 800;
}
#rab-list li a:hover {
    background-color: #fff;
    color: #f012be;
    border: 1px solid #f012be;
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #565656;
}
.btn-scroll{
    margin-top: 8px;
    position: absolute;
}
.btn-scroll-right{
    margin-top: 8px;
    position: absolute;
    margin-left: 145px;
}

#search-field:focus{
    border:1.5px solid #00a65a;
}
.shb-isi:focus{
    border:1px solid #00a65a;
}