.select2-container--open {
    z-index: 99999;
}
.select2-container--default .select2-selection--single {
    height: 40px;
}
.swal2-container {
    z-index: 999999;
}
.mt-4-semi-5 {
    margin-top:32px;
    font-size: 14px;
}
.main-sidebar {
    background-color: #1d2325;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]), .layout-navbar-fixed .wrapper .main-header {
    /* background-color: #1DBC60; */
    background-color: #6c0198e0;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #d8d8d8;
}
/* The container Radio Button Custom */
.container-rb {
    display: block;
    position: relative;
    padding-left: 19px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-rb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    /* left: 0; */
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-rb:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-rb input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-rb input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-rb .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
.nav {
    /* display: inherit; */
}

.sidebar {
    font-size: 14px;
}

/* marquee */
.layout-navbar-fixed .wrapper .content-wrapper {
  margin-top: 0;
}

#mybutton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}

@-webkit-keyframes glowing {
  from { background-color:  #FFB3A7; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #F47983; -webkit-box-shadow: 0 0 18px #F62459; }
  to { background-color: #F62459; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes pulse {
  from { background-color:  #ffbe76; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #f6e58d; -webkit-box-shadow: 0 0 18px #f0932b; }
  to { background-color: #f9ca24; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes green {
  from { background-color:  #1e991a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #4bdf70; -webkit-box-shadow: 0 0 18px #0d8a0d; }
  to { background-color: #07a01b; -webkit-box-shadow: 0 0 9px #333; }
}

.back-home {
  -webkit-animation-name: glowing;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.feedback {
  width: 60px;
  height: 60px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.marquee-superadmin {
  width:100%; 
  height: 28px; 
  background-color: #ffc107; 
  padding: 3px;
}

.marquee-superadmin marquee {
  margin-top: 0px; font-size: 15px;
}
/* marquee */

/* sidebar */
.alert-sidebar {
  padding: 10px; 
  margin: 0px; 
  margin-top: 10px; 
  background-color: #3f494c !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active, 
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
  background-color: #3f494c !important;
  color: #fff;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active > .fa, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active > .fa,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active > .fa, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus > .fa, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover > .fa {
  color: #17a2b8;
}
[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link, [class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
  background-color: transparent;
}
/* sidebar */

/* content */
.text-dark {
  color: #dc3545 !important;
  border-left: 5px solid #17a2b8;
  border-bottom: 2px solid #17a2b8;
  padding-left: 10px;
  padding-bottom: 3px;
}

.home-content {
  padding-top: 5em;
}
/* content */

.main-header {
    border-bottom: 1px solid #1dbc60;
}